.mypy_cache
__pycache__
.vscode
test.py
event.json
events
# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless

.aws-sam
tests

**/.DS_Store/*
.DS_Store
